.card{
    background-color: silver;
    font-family: poppins,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card-header{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    box-shadow: 1px 2px 4px;
}
#loginButton{
    background-color: rgb(68, 68, 68);
    border: 1px solid rgb(68, 68, 68);
}
.card-body{
    /* display: flex;*/
    /* justify-content: center; */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
#AddBookBtn{
    background-color: rgb(56, 133, 56);
}
.card-footer{
    display: flex;
    justify-content: center;
    
}
#popup-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: silver;
    transition: all 0.5s ease;
  }
#popup-card-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10%;
}
#BookSubmit{
    width: 100%;
    background-color: rgb(56, 133, 56);
}
.closeButtonDiv{
    display: flex;
    justify-content: left;
    width: 100%;
    background-color: none;
}
#popUpCloseBtn{
    background-color: rgb(230, 50, 50);
    border: none;
    border-radius: 4px;
}
#card-footer{
    border:  none;
}
.card{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.bookCard{
    flex-direction: column;
}
.card>img{
    width: 25%;
    height: auto;
}
.cardInfoBody{
    display: block;
}
.cardInfoBody>.unread{
    width: 100%;
    background-color: rgb(56, 133, 56);
}
.cardInfoBody>.removeBook{
    width: 100%;
    background-color: rgb(230, 50, 50);
}